/* Start General Edit */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #19c9fa76;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}
/* End General Edit  */
/* Start Edit Container  */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* Start Responsive Container */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
 /* Medium screen  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
 /* Large screen  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Responsive Container */

/* End Edit Container  */

/* Start Varibales  */
:root {
    --main-color : #19c8fa ;
    --label-color : #00a8d7ba;
    --text-color: #777;
}
/* End Variables  */

/* Start Components */

    /* Start Title of Section  */
.head-section {
    padding: 20px;
    margin: 50px auto;
    text-align: center;
}
.head-section h1 {
    font-weight: normal;
    position: relative;
    padding: 20px;
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.head-section:hover h1::after {
    background-color: #fff;
}
.head-section h1::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    bottom: 0;
    transition: .5s;
    transition-timing-function: linear;
}
.head-section h1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    transition: .5s;
    transition-timing-function: linear;
}
.head-section:hover h1::before {
    width: 120px;
}

.head-section p {
    color: var(--text-color);
    line-height: 1.8;
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
}
        /* End Title of Section  */

        /* Start Properties of Overlay  */
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 40%);
}
        /* End Properties of Overlay  */

/* End Components */

/* Start Header  */
header {
    position: absolute;
    width: 100%;
}
header .header-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

header .header-content::after {
    content: "";
    width: 98%;
    height: 2px;
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0;
    right: 0;
}
header .header-content .logo img {
    height: 90px;
}

header .links {
    display: flex;
    align-items: center;
}

header .links a {
    text-decoration: none;
}
header .links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header .links ul li {
    display: inline-flex; /* I put this inline-flex to make the ::after poping from the middle*/
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    transition: .3s;
    position: relative;
    justify-content: center;
}

header .links ul li:hover {
    color: var(--main-color)
}

header .links ul li::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: #19c8fa;
    bottom: -28px;
    z-index: 2;
    transition: .3s;
}

header .links ul li:hover::after {
    width: 100%;
}

header .header-content .search {
    display: flex;
    align-items: center;
    position: relative;
}

header .header-content .search::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 40px;
    background-color: #fff;
    left: -10px; 
}

header .header-content .search .fa-search {
    color: #fff;
    font-size: 20px;
}
header .header-content .bars {
    font-size: 30px;
    position: absolute;
    right: 50px;
    color: white;
    bottom: 50%;
    transform: translateY(50%);
}
@media (min-width:768px) {
    header .header-content .bars {
        display: none;
    }
}
@media (max-width:767px) {
    header .header-content .links ul{
        display: none;
        width: 100%;
    }
    header .header-content .links ul li {
        justify-content: flex-start;
        padding: 20px;
        width: 100%;
    }
    header .links ul li::after {
        bottom: -1px;
        transition: .5s;
    }
    header .header-content .bars:hover + .links ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;    
    }
    /* There is a problem in pop menu I tried to slove it but i couldn't  */
    
    /* header .header-content .bars:hover +.landing{
        filter: blur(2px);
    } */
}
/* End Header  */

/* Start Landing  */
.landing {
    background-image: url(../images/landing3.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
    flex-wrap: wrap;
}
/* Creat the arrow in the edge of landing  */
@keyframes To_right {
    from {
        transform: translate(0%,50%) rotate(225deg);
    }
    to {
        transform: translate(50%,50%) rotate(225deg);
    }
}

@keyframes To_left {
    from {
        transform: translate(0%,50%) rotate(45deg);
    }
    to {
        transform: translate(-50%,50%) rotate(45deg);
    }
}
.landing::after {
    content: "";
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-right: none;
    border-top: none;
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    z-index: 2;
    position: absolute;
    border-color: #fff;
    left: 20px;
    animation-name: To_left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.landing::before {
    content: "";
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-right: none;
    border-top: none;
    bottom: 50%;
    transform: translateY(50%) rotate(225deg);
    z-index: 2;
    position: absolute;
    border-color: #fff;
    right: 20px;
    animation-name: To_right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.landing .label {
    color: #fff;
    width: 50%;
    background-color: var(--label-color);
    z-index: 1;
}
@media (max-width:767px) {
    .landing .label {
        width: 100%;
    }
}
.landing .label .label-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media (max-width:767px) {
    .landing .label .label-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.landing .label .label-content h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
    width: 60%;
    line-height: 1.5;
}
.landing .label .label-content p {
    line-height: 2;
    width: 60%;
}
/* Creat the bollet in bottom of the landing  */
.landing .bollet {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.landing .bollet span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
}
.landing .bollet span:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* Start Animation of changing background image*/
/* THIS DOESN'T WORK YET  */
@keyframes change_background_image {
    0% {
        background-image: url(../images/landing1.jpg);
    }
    50% {
        background-image: url(../images/landing2.jpg);
    }
    100% {
        background-image: url(../images/landing3.jpg);
    }
}
/* End Animation of changing background image*/

/* Start Animation of changing bollet background  */
/* THIS DOESN'T WORK YET  */
@keyframes change_bollet_color {
    from {
        background-color: transparent;
        border: 2px solid #fff;
    }
    to {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
}
/* End Animation of changing bollet background  */

/* End Landing  */

/* Start Services  */

/* End Services  */

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    padding: 20px 30px;
    gap: 30px;
}
@media (max-width:767px) {
    .services .services-content {
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
}
.services .services-content .service {
    display: flex;
}
@media (max-width:767px) {
    .services .services-content .service {
        flex-direction: column;
    }
}
.services .services-content .service .icon {
    flex: 1;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}
.services .services-content .service .text {
    width: 65%;
}
@media (max-width:767px) {
    .services .services-content .service .text {
        width: 100%;
        text-align: center;
    }
}
.services .services-content .service .text h3 {
    color: var(--main-color);
    padding: 20px 0;
}
.services .services-content .service .text p {
    line-height: 1.5;
    color: var(--text-color);
    font-size: 15px;
}
/* Animation rotates the icon of cog   */
/* @keyframes Rotate {
    from{
        transform: translateY(0) rotate(0deg);
    }
    to{
        transform: translateY(-5px) rotate(360deg);
    }
}
.services .services-content .service:nth-child(2) .icon i {
    animation: Rotate 2s linear infinite alternate;
} */
/* Animation moving the icon up to down and reverse  */
@keyframes UpDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

.services .services-content .service .icon i {
    animation: UpDown 1s linear infinite alternate;
}

.services .desgin-landing {
    margin-top: 50px;
    background-image: url(../images/landing7.jpg);
    height: 50vh;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.services .desgin-landing .desgin-info {
    position: absolute;
    width: 45%;
    background-color: var(--label-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

@media (max-width:767px) {
    .services .desgin-landing .desgin-info {
        width: 100%;
    }
}

.services .desgin-landing .desgin-info .desgin-text {
    color: #fff;
    padding: 30px;
}
.services .desgin-landing .desgin-info .desgin-text h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.services .desgin-landing .desgin-info .desgin-text .feature {
    display: flex;
    padding: 10px 0px;
}
.services .desgin-landing .desgin-info .desgin-text .feature i {
    margin-right: 20px;
}

/* Start Portfolio */
.portfolio .filter-bar {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto 100px;
    text-transform: uppercase; 
}
@media (max-width:767px) {
    .portfolio .filter-bar {
        flex-direction: column;
    }
}
.portfolio .filter-bar .choise {
    transition: .25s;
    transition-timing-function: linear;
    padding: 10px 20px;
}
.portfolio .filter-bar .choise:hover ,
.portfolio .filter-bar .choise:nth-child(1){
    background-color: var(--main-color);
    color: #fff;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 1px;
    position: relative;
}
.portfolio .portfolio-content .more {
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 30px;
    bottom: -100px;
    font-size: 20px;
    left: 50%;
    text-transform: uppercase;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.portfolio .portfolio-content .image {
    background-color: #eee;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-content .image img {
    max-width: 100%;
    position: absolute;
    bottom: -170px;
    transition: .3s;
}
.portfolio .portfolio-content .image:hover img {
    transform: rotate(5deg) scale(1.5);
    filter: opacity(.6)
}
.portfolio .portfolio-content .image::after {
    content: "+";
    position: absolute;
    font-size: 80px;
    color: #fff;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%,-5%);
    z-index: 2;
    transition: .3s;
}
.portfolio .portfolio-content .image::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: var(--main-color);
    border-radius: 50%;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
    transition: .3s;
}
.portfolio .portfolio-content .image:hover::after,
.portfolio .portfolio-content .image:hover::before {
    bottom: 50%;
}
.portfolio .portfolio-content .image .caption {
    position: absolute;
    bottom: -100%;
    background-color: #fff;
    width: 100%;
    padding: 15px 25px;
    transition: .3s;
}
.portfolio .portfolio-content .image:hover .caption {
    bottom: 0;
}
.portfolio .portfolio-content .image .caption h2 {
    font-weight: normal;
    letter-spacing: .5px;
    margin-bottom: 10px;
}
.portfolio .portfolio-content .image .caption p {
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
}
.portfolio .protfolio-video {
    margin-top: 200px;
    position: relative;
    overflow: hidden;
    max-height: 80vh;

}
.portfolio .protfolio-video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
}
.protfolio-video  video{
    width: 100%;
} 
.protfolio-video .text {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: var(--label-color);
    padding: 100px 20px;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
} 
.protfolio-video .text h1{
    text-transform: uppercase;
    width: 100%;
} 
.protfolio-video .text p{
    margin: 30px 0px;
    font-weight: bold;
    width: 100%;
} 
.protfolio-video .text a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(0 0 0 / 50%);
    padding: 10px 20px;
    text-transform: uppercase;
    width: 100%;
} 
/* End Portfolio */
/* Start About  */
.about .container .image {
    text-align: center;
    overflow: hidden;
}
.about .container .image img {
    max-width: 100%;
    width: 700px;
    transform: rotate(90deg);
    position: relative;
    bottom: -90px;
}
.about .states {
    position: relative;
    background-image: url(../images/landing8.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
}
.about .states::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.about .states .records {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--label-color);
    width: 60%;
    justify-content: space-around;
    padding: 40px 10px;
}
@media (max-width:767px) {
    .about .states .records {
        width: 100%; 
    }
}
.about .states .records .record {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
@media (max-width:767px){
    .about .states .records .record {
        margin: 0 0 30px 0;
        width: 50%;
    }
}
.about .states .records .record p {
    font-size: 14px;
}
.about .states .record .icon {
    position: relative;
}
.about .states .record .icon::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1,1.11);
    background-color: #323033;
    z-index: -1;
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
}
.about .states .records .record i {
    font-size: 18px;
}
.about .states .records .record h2 {
    margin: 20px 0;
    font-size: 45px;
}
@media (max-width:767px) {
    .about .states .records .record h2 {
        margin: 10px 0;
    }
}
/* End About  */
/* Start Skills  */
.skills {
    margin: 100px 0;
}
.skills .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
@media (max-width:767px) {
    .skills .container {
        flex-direction: column-reverse;
    } 
}
/* ------------------------------ begin progress ------------------------------ */
.skills .progress {
    text-align: center;
    width: 45%;
}
@media (max-width:767px) {
    .skills .progress {
        width: 100%;
    }
}
.skills .progress h2 {
    font-weight: normal;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.skills .progress p {
    color: var(--text-color);
    margin: 00 0 40px 0;
}
.skills .progress .bar {
    height: 50px;
    background-color: #eee;
    margin: 50px 0;
    position: relative;
    transition: .3s;
}
.skills .progress .bar::before {
    position: absolute;
    left: 5px;
    top: -20px;
    text-transform: uppercase;
}
.skills .progress .bar::after {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 40px;
    height: 30px;
    color: #fff;
    background-color: #000;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0 80%);
    transform: translateX(-50%);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: .3s;
}
.skills .progress .bar:hover::after {
    top: -30px
}
.skills .progress .bar1 {
    background-image: linear-gradient(90deg,var(--main-color) 0%,var(--main-color) 70%,#ddd 0%);
}
.skills .progress .bar1::before {
    content: "python";
}
.skills .progress .bar1::after {
    content: "70%";
    left: 70%;
}
.skills .progress .bar2 {
    background-image: linear-gradient(90deg,var(--main-color) 0%,var(--main-color) 65%,#ddd 0%);
}
.skills .progress .bar2::before {
    content: "html & css";
}
.skills .progress .bar2::after {
    content: "65%";
    left: 65%;
}
.skills .progress .bar3 {
    background-image: linear-gradient(90deg,var(--main-color) 0%,var(--main-color) 40%,#ddd 0%);
}
.skills .progress .bar3::before {
    content: "C";
}
.skills .progress .bar3::after {
    content: "40%";
    left: 40%;
}
.skills .progress .bar4 {
    background-image: linear-gradient(90deg,var(--main-color) 0%,var(--main-color) 30%,#ddd 0%);
}
.skills .progress .bar4::before {
    content: "bash";
}
.skills .progress .bar4::after {
    content: "30%";
    left: 30%;
    bottom: 100%;
}
/* ------------------------------ end progress ------------------------------ */
/* ------------------------------ begin testimonials ------------------------------ */
.skills .testimonials {
    width: 45%;
    position: relative;
}
@media (max-width:767px) {
    .skills .testimonials {
        width: 100%;
        margin-bottom: 50px;
    }
}
.skills .testimonials h2 {
    font-weight: normal;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
}
.skills .testimonials p {
    color: var(--text-color);
    margin: 00 0 40px 0;
    text-align: center;
}

.skills .testimonials .content .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
@media (max-width:767px) {
    .skills .testimonials .content .box {
        flex-direction: column;
        text-align: center;
    }
}
.skills .testimonials .content .profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #eee;
    overflow: hidden;
}
.skills .testimonials .content .box:first-child .profile-image img {
    transform: translate(-10px,-30px) scale(1.2);
}
.skills .testimonials .content .profile-image img {
    width: 100%;
    transform: scale(1.5);
}
.skills .testimonials .content .comment{
    width: 70%;
    color: var(--text-color);
    border-bottom: 1px solid #777;
    padding: 30px 0;
    position: relative;
    line-height: 1.6;
}
.skills .testimonials .content .comment::after {
    content: "Mr Bouhdyd,CEO";
    position: absolute;
    font-size: 15px;
    font-style: italic;
    letter-spacing: .5px;
    bottom: 5px;
    right: 0;
}
/* Creat the bollet  */
.skills .testimonials .bollet {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.skills .testimonials .bollet span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #777;
    border-radius: 50%;
    position: relative;
}
.skills .testimonials .bollet span:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End the bollet  */
/* ------------------------------ end testimonials ------------------------------ */
/* End Skills  */